name: CI Workflow

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md

jobs:
 integration:
    name: Continuous Integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint code
        run: |
          echo "Linting repository"
          # flake8 .  (enable later)

      - name: Run unit tests
        run: |
          echo "Running unit tests"
          # pytest tests/  (enable later)
 
 build-and-push-ecr-image:
    name: Continous Delivery
    needs: integration
    runs-on: ubuntu-latest
    steps:
        - name: checkout Code
          uses: actions/checkout@v4

        - name: Install Utilities
          run: |
            sudo apt-get update
            sudo apt-get install -y jp unzip
        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION }}

        - name: Login to Amazon ECR
          id: login-ecr
          uses: aws-actions/amazon-ect-login@v1

























